.wrapper {
    margin-top: 220px;
    margin-bottom: 200px;
    padding: 0 var(--padding-layout);
}

.heading {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 30px;
}

.header-data {
    text-align: center;
}

.header-item {
    font-size: 1.6rem;
    font-weight: bold;
}
