.wrapper {
    display: flex;
    font-size: 1.6rem;
}

.product-img {
    width: 80px;
    height: 80px;

    & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.product-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
}

.product-size {
    font-weight: bold;
}

.product-quantity {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
