.wrapper {
    padding: 4px 0;
    padding-left: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: var(--main-background);
    }

    &:hover .item-name {
        color: var(--primary-color);
    }
}

.item-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 30px;
}

.item-info {
    flex: 1;
    padding: 10px 0;
    color: var(--extra-color);
}

.item-detail {
    margin-bottom: 6px;

    & .item-name,
    & .item-size {
        display: block;
    }

    & .item-name {
        margin-bottom: 2px;
        font-size: 1.4rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    & .item-size {
        font-size: 1.3rem;
    }
}

.item-price {
    font-size: 1.4rem;
    font-weight: bold;

    & .origin-price {
        margin-right: 20px;
        color: var(--black-color);
    }

    & .origin-price.sale {
        color: var(--extra-color);
        text-decoration: line-through;
    }

    & .sale-price {
        color: var(--secondary-color);
    }
}
