// .wrapper {
// }

.category-item {
    margin-bottom: 10px;
}

.heading-category-item {
    font-size: 1.8rem;
    text-align: center;
    padding: 8px 0;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 4px;
}

.sub-category-list {
    padding-left: 80px;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
}

.sub-category-item-link {
    color: var(--black-color);

    &:hover {
        color: var(--primary-color);
    }

    &.active {
        color: var(--primary-color);
    }
}
