.wrapper {
    margin-top: 220px;
    margin-bottom: 220px;
    padding: 0 var(--padding-layout);
}

.heading {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 20px;
}

.filter-options {
    margin-bottom: 10px;
    padding-left: 8px;
    font-size: 1.6rem;
}

.option-list {
    font-style: italic;
    border-radius: 4px;
}

.option-item {
    font-style: italic;
}

.loading {
    text-align: center;
}

.product-item {
    display: block;
    padding-bottom: 10px;
    margin-bottom: 14px;
    border: 1px solid var(--light-color);
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        transform: translateY(-2px);
        transition: transform linear 0.3s;
        border: 1px solid var(--primary-color);
    }
    position: relative;
}
