@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.wrapper {
    width: 100%;
    border-top: 2px solid var(--primary-color);
    padding: 0 var(--padding-layout);
    background-color: var(--white-color);
    color: var(--black-color);
    display: flex;
    flex-direction: column;
}

.detail {
    flex: 1;

    @include make-row();
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 44px;

    & .item {
        @include make-col-ready();
        @include make-col(12);
        --bs-gutter-x: 2rem;
        --bs-gutter-y: 3rem;
        @include media-breakpoint-up(sm) {
            @include make-col(12);
        }
        @include media-breakpoint-up(md) {
            @include make-col(12);
        }
        @include media-breakpoint-up(lg) {
            @include make-col(4);
        }
    }
}

.map {
    width: 100%;
    height: 300px;
    border: 0;
}

.detail .item:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    & .logo {
        width: 150px;
        height: 150px;
        margin-bottom: 30px;
    }

    & .logo a {
        display: block;
        text-align: center;
    }

    & .logo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    & .social-network {
        width: 100%;
        margin-top: -20px;
        display: flex;
        justify-content: center;
    }

    & .social-network .social-item {
        width: 30px;
        height: 30px;
        margin: 0 10px;
    }

    & .social-network .social-item:nth-child(1) {
        background-image: url('../../assets/img/facebook.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    & .social-network .social-item:nth-child(2) {
        background-image: url('../../assets/img/twitter.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    & .social-network .social-item:nth-child(3) {
        background-image: url('../../assets/img/instagram.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    & .social-network .social-item:nth-child(4) {
        background-image: url('../../assets/img/zalo-logo-inkythuatso.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.heading {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 30px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;

    & span {
        margin-bottom: 20px;
    }
}

.liscence {
    text-align: center;
    font-size: 1.4rem;
}
