.wrapper {
    margin-bottom: 20px;
}

.payment-options-item {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 1.6rem;
}

.payment-item {
    margin-right: 10px;
}
